<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDgbS0w2MBre7TM8piadlsdz9vZoh5RPk</string>
	<key>GCM_SENDER_ID</key>
	<string>17833871974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unknown</string>
	<key>PROJECT_ID</key>
	<string>unknown-ljrrt</string>
	<key>STORAGE_BUCKET</key>
	<string>unknown-ljrrt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17833871974:ios:0297ea8cce3c097ad4bba7</string>
</dict>
</plist>